<style>

.cima{
  text-align: center;

  background-color: #4F4F4F;

  color: #ffffff;

  font-family: 'Papyrus', Copperplate, Fantasy;
}

.corpitio{
  background-color: #ccccf5;
}

.algo{
  
  background-color:#4F4F4F;
  color:#ffffff;
text-align: center;
}

.baixo{
  background-color: #4F4F4F;
  color:#4F4F4F;
}

.duvidoacha{
  text-align: end;
  color:#ccccf5;
}

.til{
  font-family: 'Brush Script MT', cursive;
  }

.a1{
  font-family: 'Papyrus', Copperplate, Fantasy;
}

.a2{
  font-family: 'Papyrus', Copperplate, Fantasy;
}

.a3{
  font-family: 'Papyrus', Copperplate, Fantasy;
}

.one{
  font-family:Garamond, Georgia, 'Times New Roman', Serif:
}

</style>